.footer{
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0px 20px;
  font-size: 16px;

  @media (max-width: 1387px) {
    font-size: 15px;
  }

  @media (max-width: 1190px) {
    font-size: 14px;
    height: 65px;
  }

  @media (max-width: 990px) {
    font-size: 13px;
    height: 60px;
  }

  @media (max-width: 790px) {
    font-size: 11px;
    height: 50px;
  }

  @media (max-width: 590px) {
    font-size: 9px;
    height: 40px;
  }

  @media (max-width: 490px) {
    font-size: 7px;
  }
}
