.background-3 {
  height: 670px;
  background-color: #816BD9;
  border-bottom: 1px solid black;
}

.title-and-subtitle-1{
  color: white;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.title-1{
  font-size: 40px;
}

.subtitle-1{
  font-size: 26px;
  opacity: 75%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1387px) {
  .background-3 {
    height: 620px;
  }

  .title-and-subtitle-1 {
    padding-left: 260px;
    padding-right: 260px;
  }

  .title-1 {
    font-size: 38px;
  }

  .subtitle-1 {
    font-size: 24px;
  }
}

@media (max-width: 1190px) {
  .background-3 {
    height: 600px;
  }

  .title-and-subtitle-1 {
    padding-left: 210px;
    padding-right: 210px;
  }

  .title-1 {
    font-size: 34px;
  }

  .subtitle-1 {
    font-size: 22px;
  }
}

@media (max-width: 990px) {
  .title-and-subtitle-1 {
    padding-left: 150px;
    padding-right: 150px;
  }

  .title-1 {
    font-size: 31px;
  }

  .subtitle-1 {
    font-size: 21px;
  }
}

@media (max-width: 790px) {
  .title-and-subtitle-1 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .title-1 {
    font-size: 28px;
  }

  .subtitle-1 {
    font-size: 20px;
  }
}

@media (max-width: 590px) {
  .title-and-subtitle-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .title-1 {
    font-size: 25px;
  }

  .subtitle-1 {
    font-size: 19px;
  }
}

@media (max-width: 490px) {
  .title-and-subtitle-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title-1 {
    font-size: 22px;
  }

  .subtitle-1 {
    font-size: 18px;
  }
}
